.header_wrapper
    header
        .logo
            img(src="/static/images/logos/savoie-mountain.svg")
            .logo_text
                .logo_text__brand 
                    a misitioba
                .logo_text__quote La Coopérative technologique de Savoie

    
    //-ul
        li
            a(href="#") Accueil
        li
            a(href="#") Services