DEBUG=app:*
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PWD=435345
MYSQL_DATABASE=xxxxxxxxx
MYSQL_PORT=3306
SESSION_SECRET=34223423
MAILGUN_API_KEY=key-xxxxxxxxxxxxxxx
MAILGUN_DOMAIN=misitioba.com
NODE_ENV=development