extends ../../partials/layout-app.pug
block head
    link(rel="stylesheet", href="/admin_pages/login/login.css", attr)
block scripts
    script(src="/admin_pages/login/login.js")
block content
    form
        label Email
        input(v-model="form.email")
        label Password
        input(type="password" v-model="form.password")
        if isDevelopment
            button(@click="login" type="button") Login
            button(@click="check" type="button") Check
            button(@click="logout" type="button") Logout
            button(@click="changePassword" type="button") Change password