html
    title Savoie - Login
    link(rel="stylesheet", href="/admin_pages/login/login.css", attr)
body
    form
        label Email
        input(v-model="form.email")
        label Password
        input(type="password" v-model="form.password")
        if isDevelopment
            button(@click="login" type="button") Login
            button(@click="check" type="button") Check
            button(@click="logout" type="button") Logout
            button(@click="changePassword" type="button") Change password

script(src="https://unpkg.com/vue@2.6.10/dist/vue.js")
script(src="https://unpkg.com/axios@0.2.1/dist/axios.min.js")
script(src="/admin_pages/login/login.js")