extends ../../partials/layout-app.pug
block head
  link(rel="stylesheet", href="/admin_pages/home/home.css", attr)
block scripts
  script(src="/admin_pages/home/home.js")
block content
  .home_banner
    p.home_quote.
      Nous sommes la première <span class="highlight">coopérative technologique</span>  du département de la Savoie spécialisée dans la création d’outils 
      décentralisés et 
      <span class="highlight">«open source»</span>
      pour les entrepreneurs et les coopératives locaux afin d’aider à l’organisation et à la collaboration, au sein des organisations ou entre elles, ainsi qu’au 
      <span class="highlight">développement numérique</span>
      .

  form.request_demo
    p.request_demo Votre email
    input(v-model="form.email")
    button.btn(type="button" @click="requestDemo") Contactez moi


  h2 Outils disponibles

  ul.tools_list
    li.tools_list__item
      h3 Réservation de paniers dans les fermes
      p Cet outil vous permet de gérer les paniers lors de la création, de l’édition et de la visualisation, et vous fournit un système de réservation qui permet aux clients de réserver via une page spéciale ou via votre page Web existante.
      p Cette solution open source est disponible en mode "clé en main" (hébergée par nous avec un modèle de tarification "prix libre") ou peut être implémentée par vous-même gratuitement.
      a.btn(type="button" target="_blank" href="/basket-hot" @click="TryDemo") Essayez la démo
      p.mini Connectez-vous avec  email: demo mot de passe: demo


