extends ../../partials/layout-app.pug
block head
    link(rel="stylesheet", href="/admin_pages/home/home.css", attr)
block scripts
    script(src="/admin_pages/home/home.js")
block content
    .home_banner
        p.home_quote.
            Nous sommes la première <span class="highlight">coopérative technologique</span>  du département de la Savoie spécialisée dans la création d’outils 
            décentralisés et 
            <span class="highlight">«open source»</span>
            pour les entrepreneurs et les coopératives locaux afin d’aider à l’organisation et à la collaboration, au sein des organisations ou entre elles, ainsi qu’au 
            <span class="highlight">développement numérique</span>
            .
    
    form.request_demo
        p.request_demo Votre email
        input(v-model="form.email")
        button.btn(type="button" @click="requestDemo") Je veux une démonstration


    h2 Outils disponibles
    
    ul.tools_list
        li.tools_list__item
            h3 Réservation de paniers dans les fermes
            p Module de back-office pour la liste des paniers réservés par les clients. 
            p Il permet la génération d'un script côté client pour l'implémentation d'un formulaire de réservation de paniers, à implémenter dans des pages Web existantes.
            button.btn(type="button") Testez la démo


    